<div id="new_note_form">
</div>

<%= link_to "Nueva nota",
            new_note_path(@note, :format => :js),
            :remote => true,
            :id => "new_note_link",
            class: "btn btn-primary btn-xs active",
            role: "button"%>

<h1>Mis notas</h1>
<div id="notes">
  <%= render @notes %>
</div>

